@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131722;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-size: 62.5%;
}
